@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin backgroundImage {
    background: url(https://darkroom.northamptonsaints.co.uk/1366/77069df0dc2abd380324ebd3701620e9:97f62bc33f98b4a34fc6c15c38b8f3ca/barclaycard-rodber-conference-3.jpg) no-repeat center center;
    background-size: cover;
}