@media screen and (max-width: 768px) {
    header {
        justify-content: space-between;
        padding: 20px;

        nav {
            ul {
                display: none;
            }

        }

        button {
            display: flex;
        }
    }

    .home {
        justify-content: center;
        background: url(../assets/bg.svg) no-repeat center center;
        background-size: cover;

        &::before {
            display: none;
        }

        .content {
            margin: 0;

            .title {
                flex-direction: column;
                align-items: center;

                h1 {
                    text-align: center;
                }
            }

            p {
                margin: 0;
                text-align: center;
            }
        }
    }

    .about {
        padding: 20px;

        h2 {
            width: 100%;
        }

        p {
            width: 100%;
        }

        .content {
            flex-direction: column;
            gap: 20px;

            article {
                width: 100%;
            }

        }

    }

    .video {
        padding: 10px;

        .play-btn {
            width: 100px;
            height: 100px;
        }

        p,
        h3 {
            width: 100%;
        }
    }

    footer {
        flex-direction: column;
        gap: 20px;
        padding: 10px;

        .address {
            margin: 0;

            ul {
                align-items: center;
            }
        }

    }
}