@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import "./kit/variable";
@import "./kit/mixins";

@keyframes rotate {
    from {
        transform: rotateY(0) scale(1);
    }

    to {
        transform: rotateY(360deg) scale(1.2);
    }
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

//header
header {
    display: flex;
    position: fixed;
    z-index: 1500;
    width: 100%;
    padding: 40px;
    gap: 180px;

    .logo {
        color: $white;
        font-size: 20px;
        font-weight: 600;
        line-height: 16px;
        text-transform: uppercase;
        transition: $transition;

        a {
            color: inherit;
            text-decoration: none;
        }

        &:hover {
            transform: scale(1.2);
        }
    }

    nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            @include flexCenter;
            gap: 32px;

            li {
                color: $white;
                font-size: 14px;
                letter-spacing: 2.8px;
                text-transform: uppercase;
                position: relative;
                transition: $transition;

                &::before {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    bottom: -3px;
                    background-color: $white;
                    transition: $transition;
                }

                &:hover {
                    cursor: pointer;

                    &::before {
                        width: 100%;
                    }
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    button {
        display: none;
        color: $white;
        background-color: transparent;
        border: none;
        font-size: 24px;
        transition: $transition;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

//home 
.home {
    width: 100%;
    position: relative;
    height: 750px;
    display: flex;
    justify-content: left;
    align-items: center;
    @include backgroundImage;

    &::before {
        content: "";
        position: absolute;
        background: url(../assets/home_shape.svg) no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        margin-left: 80px;

        .title {
            display: flex;

            h1 {
                font-family: "Oswald", sans-serif !important;
                color: $white;
                font-size: 75px;
                font-weight: 700;
                line-height: 84.5px;
                margin: 0;
            }

            img {
                width: 234px;
                height: 264px;

                &:hover {
                    animation: rotate 1.5s linear infinite alternate;
                }
            }
        }

        p {
            color: rgba(255, 255, 255, 0.70);
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            margin-left: 40px;
        }

    }
}

// about 

.about {
    width: 100%;

    h2 {
        color: $about-title-clr;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        margin: 20px 0;
        font-family: "Oswald", sans-serif !important;
        margin: 88px 0 39px 0;
    }

    p {
        color: $p-clr;
        text-align: center;
        font-size: 24px;
        margin: 0;
    }

    .content {
        display: flex;
        justify-content: center;
        gap: 83px;
        margin-top: 45px;

        article {
            color: $p-clr;
            font-family: "Source Sans Pro";
            font-size: 16px;
            line-height: 22px;
            width: 408px;
        }
    }


    .btn-content {
        margin: auto;
        width: fit-content;

        button {
            width: 115px;
            height: 36px;
            border-radius: 18px;
            background: $primary;
            color: $white;
            text-align: center;
            font-size: 13px;
            line-height: 36px;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            transition: 0.5s;
            margin: 46px 0 98px 0;

            &:hover {
                transform: rotateY(360deg) scale(1.2);
            }
        }
    }

}

// video 

.video {
    width: 100%;
    height: 637px;
    flex-direction: column;
    @include backgroundImage;
    position: relative;


    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $video-clr;
    }

    h3 {
        color: $white;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        position: relative;
        z-index: 1;
        font-family: "Oswald", sans-serif !important;
        margin: 0 0 87px 0;
        padding-top: 88px;
    }

    .play-btn {
        width: 145px;
        height: 143px;
        cursor: pointer;
        @include flexCenter;
        position: relative;
        z-index: 1;
        transition: 0.5s;
        margin: auto;
        background: transparent;
        border: none;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
        }

        &:hover {
            cursor: pointer;
            transform: rotate(360deg) scale(1.2);
        }
    }

    p {
        color: $white;
        text-align: center;
        font-size: 24px;
        margin-bottom: 38px;
        position: relative;
        z-index: 1;
        margin: 76px 0 38px 0;
    }
}

// footer 

footer {
    background: #060606;
    width: 100%;
    display: flex;
    padding: 20px 100px 20px 100px;

    .logo {
        @include flexCenter;
        flex-direction: column;
        color: $white;
        font-family: "Source Sans Pro";
        font-size: 18px;
        letter-spacing: 3.6px;
        text-transform: uppercase;

        img {
            width: 101px;
            height: 114px;

            &:hover {
                animation: rotate 1.5s linear infinite alternate;
            }
        }
    }

    .address {
        margin-left: 100px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 27px;
            display: flex;
            flex-direction: column;

            li {
                color: $text-clr;
                font-family: "Source Sans Pro";
                font-size: 16px;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

}

.copyright {
    color: $text-clr;
    font-family: "Source Sans Pro";
    font-size: 16px;
    @include flexCenter;
    background-color: $footer;
    padding: 10px;
}
